<<<<<<< HEAD
﻿
@{
    Layout = "~/Views/_Layout.cshtml";
=======
﻿@model PEDS_XWFC.Models.Tournament
@{
    Layout = "~/Views/Templates/HomeLayout.cshtml";
>>>>>>> Ran

    ViewBag.Title = "Main Page";
}

<<<<<<< HEAD
<h2 class="container"> X-FIFA</h2>

=======
<h1><strong>X-FIFA World Cup</strong></h1>


<form class="container">

    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4">
        </div>
    </div>



</form>
>>>>>>> Ran
