@{
    Layout = "~/Views/Templates/_HomeLayout.cshtml";

    ViewBag.Title = "Modo Campeonato";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
