@model PEDS_XWFC.Models.MainPage
@{
    Layout = "~/Views/Templates/HomeLayout.cshtml";
    ViewBag.Title = "Main Page";
}

<body>
    <div>
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("NewTournament", "MainPageAdmin")'">New Tournament</button>
            <button type="button" class="btn btn-primary">New Football Player</button>
            <button type="button" class="btn btn-primary">Help</button>
        </div>
    </div>
</body>

