<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <title>@ViewBag.Title</title>

    <img id="editUser" src="~/Content/Images/gears.png" class="img-circle-right width="64" height="64" />
    <p class="text-right"><small>Usuarios.</small></p>
    <button type="submit" class="btn btn-primary" value="Editar Info." </button>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
