<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <title>@ViewBag.Title</title>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <div class="row">
                    <img src="~/Content/Images/userDefault.png" width="40" height="40"/>
                    <button class="glyphicon glyphicon-user"></button>
                </div>
                <div class="row">
                    <a href="http://localhost:53780/LogIn/LogIn">Cerrar Sesion</a>
                </div>
            </div>
        </div>
    </nav>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
